<% provide(:bodyid, 'Home') %>
<h1>Cheam Croquet and Bowls Club</h1>
<p>For our 2013/14 year we welcome 15 new members – David and Julia Aldous- Cook, Naomi Aruliah, Mansoureh de Brett, Thelma Drake, Andrew and Gillian Eperson, Geoff Gunton, Pam Hudson, Jean Hunt, Yvonne Jessop, Sue Muckle, Liz Swinton, Byron Theo and Barbara Verdie.

The membership of the Club is currently 78, with 66 primarily playing Croquet and 12 primarily playing Bowls.</p>


