<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li class="submenu">Links to other Sites
      <ul>
        <li>Test</li>
      </ul>
    </li>
  </ul>
</nav>